<ion-content class="splash-content">
    <div class="splash-container">

        <!-- Animated Progress Container with Finance Icon -->
        <div class="progress-container">
            <div class="outer-circle">
                <div class="inner-circle1">
                    <div class="finance-icon">
                        <img src="assets/icons/logo.png" alt="Icon" class="icon-img" />
                    </div>
                </div>
            </div>
        </div>


        <!-- App Name -->
        <div class="app-name">MySalesBook</div>

        <!-- App Description -->
        <div class="app-description">
            <span>Simple & Convenient Bookkeeping</span>
        </div>

        <!-- Powered By -->
        <div class="powered-by">
            <div class="company-logo">
                powered by ayigotech
            </div>
        </div>

    </div>
</ion-content>